 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* *{
    background-color: bisque;
    color: black;
}

button .btn{
    background-color: darkred;
} */

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #E4E4E4;
}

.modal-body p {
    text-align: justify;
}

.modal-title {
    font-weight: 600;
}

button[type="button"] {
    background-color: darkorchid;
    border: 2px solid darkorchid;
}

button[type="button"]:hover {
    background-color: purple;
    border: 2px solid purple;
}

.modal-body, .modal-body p, .modal-title, .modal-header {
    background-color: white;
    color: darkorchid;
}

.modal-body p {
    font-weight: 600;
}